In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
df = pd.read_csv('../resources/dataset/best-countries-2024.csv')
df.head()

,population_2024,population_growthRate,land_area,country,region,unMember,population_density,population_densityMi,share_borders,Hdi2021,Hdi2020,WorldHappiness2022
0,1441719852,0.00916,3287590,India,Asia,True,484.9067,1255.9084,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",0.633,0.642,3.777
1,1425178782,-0.00035,9706961,China,Asia,True,151.2174,391.6530,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",0.768,0.764,5.585
2,341814420,0.00535,9372610,United States,North America,True,37.3673,96.7813,"CAN, MEX",0.921,0.920,6.977
3,279798049,0.00816,1904569,Indonesia,Asia,True,149.0254,385.9758,"TLS, MYS, PNG",0.705,0.709,5.240
4,245209815,0.01964,881912,Pakistan,Asia,True,318.0908,823.8551,"AFG, CHN, IND, IRN",0.544,0.543,4.516

In [3]:
df.isna().any().any()

True

In [4]:
any_nan = df.isna().any().any()

if any_nan:
    print("There are NaN values in the DataFrame.")
else:
    print("No NaN values in the DataFrame.")

There are NaN values in the DataFrame.

In [5]:
clean_df = df.dropna()
clean_df.head(10)

,population_2024,population_growthRate,land_area,country,region,unMember,population_density,population_densityMi,share_borders,Hdi2021,Hdi2020,WorldHappiness2022
0,1441719852,0.00916,3287590,India,Asia,True,484.9067,1255.9084,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",0.633,0.642,3.777
1,1425178782,-0.00035,9706961,China,Asia,True,151.2174,391.6530,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",0.768,0.764,5.585
2,341814420,0.00535,9372610,United States,North America,True,37.3673,96.7813,"CAN, MEX",0.921,0.920,6.977
3,279798049,0.00816,1904569,Indonesia,Asia,True,149.0254,385.9758,"TLS, MYS, PNG",0.705,0.709,5.240
4,245209815,0.01964,881912,Pakistan,Asia,True,318.0908,823.8551,"AFG, CHN, IND, IRN",0.544,0.543,4.516
5,229152217,0.02389,923768,Nigeria,Africa,True,251.6027,651.6511,"BEN, CMR, TCD, NER",0.535,0.535,4.552
6,217637297,0.00561,8515767,Brazil,South America,True,26.0390,67.4409,"ARG, BOL, COL, GUF, GUY, PRY, PER, SUR, URY, VEN",0.754,0.758,6.293
7,174701211,0.01010,147570,Bangladesh,Asia,True,1342.1004,3476.0401,"MMR, IND",0.661,0.655,5.155
8,143957079,-0.00337,17098242,Russia,Europe,True,8.7903,22.7668,"AZE, BLR, CHN, EST, FIN, GEO, KAZ, PRK, LVA, L...",0.829,0.830,5.459
9,129719719,0.02523,1104300,Ethiopia,Africa,True,114.9415,297.6986,"DJI, ERI, KEN, SOM, SSD, SDN",0.498,0.498,4.241

In [6]:
clean_df.isna().any().any()

False

In [7]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 129 entries, 0 to 138
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   population_2024        129 non-null    int64
 1   population_growthRate  129 non-null    float64
 2   land_area              129 non-null    int64
 3   country                129 non-null    object
 4   region                 129 non-null    object
 5   unMember               129 non-null    bool
 6   population_density     129 non-null    float64
 7   population_densityMi   129 non-null    float64
 8   share_borders          129 non-null    object
 9   Hdi2021                129 non-null    float64
 10  Hdi2020                129 non-null    float64
 11  WorldHappiness2022     129 non-null    float64
dtypes: bool(1), float64(6), int64(2), object(3)
memory usage: 12.2+ KB

In [8]:
clean_df.describe()

,population_2024,population_growthRate,land_area,population_density,population_densityMi,Hdi2021,Hdi2020,WorldHappiness2022
count,1.290000e+02,129.000000,1.290000e+02,129.000000,129.000000,129.000000,129.000000,129.000000
mean,5.679858e+07,0.009455,8.818932e+05,188.025373,486.985713,0.730016,0.730395,5.482163
std,1.822553e+08,0.012428,2.209874e+06,641.168605,1660.626680,0.151812,0.150340,1.100902
min,6.261020e+05,-0.030870,1.104000e+03,2.243100,5.809600,0.394000,0.397000,2.404000
25%,5.702832e+06,0.001180,6.970000e+04,37.367300,96.781300,0.602000,0.608000,4.670000
50%,1.256734e+07,0.009160,2.385330e+05,85.270300,220.850100,0.745000,0.745000,5.485000
75%,4.022173e+07,0.019210,7.526120e+05,140.707000,364.431100,0.855000,0.855000,6.221000
max,1.441720e+09,0.038090,1.709824e+07,7139.696200,18491.813100,0.962000,0.959000,7.821000

In [9]:
clean_df.head()

,population_2024,population_growthRate,land_area,country,region,unMember,population_density,population_densityMi,share_borders,Hdi2021,Hdi2020,WorldHappiness2022
0,1441719852,0.00916,3287590,India,Asia,True,484.9067,1255.9084,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",0.633,0.642,3.777
1,1425178782,-0.00035,9706961,China,Asia,True,151.2174,391.6530,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",0.768,0.764,5.585
2,341814420,0.00535,9372610,United States,North America,True,37.3673,96.7813,"CAN, MEX",0.921,0.920,6.977
3,279798049,0.00816,1904569,Indonesia,Asia,True,149.0254,385.9758,"TLS, MYS, PNG",0.705,0.709,5.240
4,245209815,0.01964,881912,Pakistan,Asia,True,318.0908,823.8551,"AFG, CHN, IND, IRN",0.544,0.543,4.516

In [22]:
asia_df = clean_df[clean_df['region'] == 'Asia']
asia_df.head()

,population_2024,population_growthRate,land_area,country,region,unMember,population_density,population_densityMi,share_borders,Hdi2021,Hdi2020,WorldHappiness2022
0,1441719852,0.00916,3287590,India,Asia,True,484.9067,1255.9084,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",0.633,0.642,3.777
1,1425178782,-0.00035,9706961,China,Asia,True,151.2174,391.6530,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",0.768,0.764,5.585
3,279798049,0.00816,1904569,Indonesia,Asia,True,149.0254,385.9758,"TLS, MYS, PNG",0.705,0.709,5.240
4,245209815,0.01964,881912,Pakistan,Asia,True,318.0908,823.8551,"AFG, CHN, IND, IRN",0.544,0.543,4.516
7,174701211,0.01010,147570,Bangladesh,Asia,True,1342.1004,3476.0401,"MMR, IND",0.661,0.655,5.155

In [34]:
europe_df = clean_df[clean_df['region'] == 'Europe']
europe_df.head()

,population_2024,population_growthRate,land_area,country,region,unMember,population_density,population_densityMi,share_borders,Hdi2021,Hdi2020,WorldHappiness2022
8,143957079,-0.00337,17098242,Russia,Europe,True,8.7903,22.7668,"AZE, BLR, CHN, EST, FIN, GEO, KAZ, PRK, LVA, L...",0.829,0.830,5.459
16,83252474,-0.00051,357114,Germany,Europe,True,238.2795,617.1439,"AUT, BEL, CZE, DNK, FRA, LUX, NLD, POL, CHE",0.942,0.944,7.034
19,67961439,0.00332,242900,United Kingdom,Europe,True,280.9136,727.5663,IRL,0.929,0.924,6.943
20,64881830,0.00193,551695,France,Europe,True,118.4933,306.8976,"AND, BEL, DEU, ITA, LUX, MCO, ESP, CHE",0.903,0.898,6.687
22,58697744,-0.00294,301336,Italy,Europe,True,198.4930,514.0968,"AUT, FRA, SMR, SVN, CHE, VAT",0.895,0.889,6.467

In [45]:
pop_gt_10m_eu = europe_df[europe_df['population_2024'] > 10000000]
pop_lte_10m_eu = europe_df[europe_df['population_2024'] <= 10000000]
len(pop_gt_1m)

15

In [47]:
clean_df['region'].unique()

array(['Asia', 'North America', 'Africa', 'South America', 'Europe'],
      dtype=object)

In [48]:
north_america_df = clean_df[clean_df['region'] == 'North America']
len(north_america_df)

10

In [50]:
south_america_df = clean_df[clean_df['region'] == 'South America']
len(south_america_df)

9

In [53]:
africa_df = clean_df[clean_df['region'] == 'Africa']
africa_df['population_2024'].mean()

33581289.216216214

In [62]:
pop_gt_35m_africa = africa_df[africa_df['population_2024'] > 30000000]
pop_lte_35m_africa = africa_df[africa_df['population_2024'] <= 30000000]

In [67]:
clean_df.head()

,population_2024,population_growthRate,land_area,country,region,unMember,population_density,population_densityMi,share_borders,Hdi2021,Hdi2020,WorldHappiness2022
0,1441719852,0.00916,3287590,India,Asia,True,484.9067,1255.9084,"AFG, BGD, BTN, MMR, CHN, NPL, PAK, LKA",0.633,0.642,3.777
1,1425178782,-0.00035,9706961,China,Asia,True,151.2174,391.6530,"AFG, BTN, MMR, HKG, IND, KAZ, PRK, KGZ, LAO, M...",0.768,0.764,5.585
2,341814420,0.00535,9372610,United States,North America,True,37.3673,96.7813,"CAN, MEX",0.921,0.920,6.977
3,279798049,0.00816,1904569,Indonesia,Asia,True,149.0254,385.9758,"TLS, MYS, PNG",0.705,0.709,5.240
4,245209815,0.01964,881912,Pakistan,Asia,True,318.0908,823.8551,"AFG, CHN, IND, IRN",0.544,0.543,4.516

In [71]:
clean_df[clean_df['unMember'] != True]

,population_2024,population_growthRate,land_area,country,region,unMember,population_density,population_densityMi,share_borders,Hdi2021,Hdi2020,WorldHappiness2022
89,7496681,0.00068,1104,Hong Kong,Asia,False,7139.6962,18491.8131,CHN,0.952,0.949,5.425